
<!-- Welcome Text Describing what you can do on the page -->
<div id="Master">
	<div id="galleryWelcome">
		<h1 class="welcome"><i>Welcome to the Cronut Database!</i></h1>

		<p>Select any Cronut you'd like to find more information</p>
		<p>Remember! Any order is delivered within 30 minutes upon checkout!</p>
	</div>

	<div id="galleryMaster">
		<div id="galleryHolder">

<!-- All the images for Gallery Page -->

<!-- 			<div class="galleryImages"></div> -->

			<div class="shake">
				<div id ="galleryImage1" class="galleryImages">
					<div class="text_fadein">
						<div class="galleryImageTextField">
							<p class="galleryImageDescription">
								This is the description of the cronut.
							</p>
							<p class="galleryImagePrice">
								- $5.50
							</p>
						</div>
					</div>
				</div>
			</div>

			<div class="shake">
				<div id ="galleryImage2" class="galleryImages">
					<div class="text_fadein">
						<div class="galleryImageTextField">
							<p class="galleryImageDescription">
								This is the description of the cronut.
							</p>
							<p class="galleryImagePrice">
								- $5.50
							</p>
						</div>
					</div>
				</div>
			</div>

			<div class="shake">
				<div id ="galleryImage3" class="galleryImages">
					<div class="text_fadein">
						<div class="galleryImageTextField">
							<p class="galleryImageDescription">
								This is the description of the cronut.
							</p>
							<p class="galleryImagePrice">
								- $5.50
							</p>
						</div>
					</div>
				</div>
			</div>

			<div class="shake">
				<div id ="galleryImage3" class="galleryImages">
					<div class="text_fadein">
						<div class="galleryImageTextField">
							<p class="galleryImageDescription">
								This is the description of the cronut.
							</p>
							<p class="galleryImagePrice">
								- $5.50
							</p>
						</div>
					</div>
				</div>
			</div>

			<div class="shake">
				<div id ="galleryImage3" class="galleryImages">
					<div class="text_fadein">
						<div class="galleryImageTextField">
							<p class="galleryImageDescription">
								This is the description of the cronut.
							</p>
							<p class="galleryImagePrice">
								- $5.50
							</p>
						</div>
					</div>
				</div>
			</div>

			<div class="shake">
				<div id ="galleryImage3" class="galleryImages">
					<div class="text_fadein">
						<div class="galleryImageTextField">
							<p class="galleryImageDescription">
								This is the description of the cronut.
							</p>
							<p class="galleryImagePrice">
								- $5.50
							</p>
						</div>
					</div>
				</div>
			</div>

		</div>
	</div>
</div>
