
<!-- Welcome Text Describing what you can do on the page -->
<div id="Master">
	<div id="galleryWelcome">
		<p class="welcome"><i>Welcome to the Cronut Database!</i></p>

		<div id="galleryWelcomeBody">
			<p>Select any Cronut you'd like to find more information</p>
			<p>Remember! Any order is delivered within 30 minutes upon checkout!</p>
		</div>
	</div>

<!-- All the images for Gallery Page -->

<!-- 			<div class="galleryImages"></div> -->

	<div id="galleryMaster">
		<div id="galleryHolder">
			
			<div id="holder">
				<div class="shake">
					<div id ="galleryImage1" class="galleryImages">
						<div id="text_fadein1">
							<div class="galleryImageTextField">
								<p class="galleryImageDescription">
									The Original Cronut.
								</p>
								<p class="galleryImagePrice">
									- $5.50
								</p>
								<p class="addToCart">
									<b>Add to Cart!</b>
								</p>
							</div>
						</div>
					</div>
				</div>

				<div class="shake">
					<div id ="galleryImage2" class="galleryImages">
						<div id="text_fadein2">
							<div class="galleryImageTextField">
								<p class="galleryImageDescription">
									Strawberry Frosting and Sugar Powder.
								</p>
								<p class="galleryImagePrice">
									- $6.00
								</p>
								<p class="addToCart">
									<b>Add to Cart!</b>
								</p>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div id="holder">
				<div class="shake">
					<div id ="galleryImage3" class="galleryImages">
						<div id="text_fadein3">
							<div class="galleryImageTextField">
								<p class="galleryImageDescription">
									Powdered Cronut.
								</p>
								<p class="galleryImagePrice">
									- $4.00
								</p>
								<p class="addToCart">
									<b>Add to Cart!</b>
								</p>
							</div>
						</div>
					</div>
				</div>

				<div class="shake">
					<div id ="galleryImage4" class="galleryImages">
						<div id="text_fadein4">
							<div class="galleryImageTextField">
								<p class="galleryImageDescription">
									Cream Filled Cronut.
								</p>
								<p class="galleryImagePrice">
									- $5.00
								</p>
								<p class="addToCart">
									<b>Add to Cart!</b>
								</p>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div id="holder">
				<div class="shake">
					<div id ="galleryImage5" class="galleryImages">
						<div id="text_fadein5">
							<div class="galleryImageTextField">
								<p class="galleryImageDescription">
									Cinnamon Cronut.
								</p>
								<p class="galleryImagePrice">
									- $3.50
								</p>
								<p class="addToCart">
									<b>Add to Cart!</b>
								</p>
							</div>
						</div>
					</div>
				</div>

				<div class="shake">
					<div id ="galleryImage6" class="galleryImages">
						<div id="text_fadein6">
							<div class="galleryImageTextField">
								<p class="galleryImageDescription">
									Strawberry and Cream Cheese Filled Cronut.
								</p>
								<p class="galleryImagePrice">
									- $5.75
								</p>
								<p class="addToCart">
									<b>Add to Cart!</b>
								</p>
							</div>
						</div>
					</div>
				</div>
			</div>

		</div>
	</div>
</div>
