
<div id="Master">
	<div id="galleryWelcome">
		<h1 class="welcome"><i>Welcome to the Cronut Database!</i></h1>

		<p>Select any Cronut you'd like to find more information</p>
		<p>Remember! Any order is delivered within 30 minutes upon checkout!</p>
	</div>

	<div id="galleryMaster">
		<div id="galleryHolder">
			<div class="galleryImages"></div>

			<div class="galleryImages"></div>

			<div class="galleryImages"></div>

			<div class="galleryImages"></div>

			<div class="galleryImages"></div>

			<div class="galleryImages"></div>

			<div class="galleryImages"></div>

			<div class="galleryImages"></div>

			<div class="galleryImages"></div>
		</div>
	</div>
</div>

