<!-- <header>
	<div id="headbar"><h1>Head</h1></div>
</header> -->

<body>
	<div class="donut" align="center">
		<h1 class="donutname">THE DONUT meets </h1>
		<img src="MasterDonut.jpg" height="450" class="donutimg">
	</div>


	<div class="croissant" align="center">
		<h1 class="croissantname">THE CROISSANT makes </h1>
		<img src="MasterCroissant.jpg" height="450" class="croissantimg" align="center">	
	</div>


		<h1 class="cronutname">THE CRONUT!</h1>
		<img src="MasterCronut.jpg" height="450" class="cronutimg" align="center">	
	</div>

</body>