<!-- <header>
	<div id="headbar"><h1>Head</h1></div>
</header> -->

<body>

	<div class="cronut">
		<h1 class="cronutname">THE CRONUT!</h1>
		<img src="/imgs/MasterCronut2.png" height="450" class="cronutimg" align="left">	
		<p> At the Hasty Cronut Shop, we are dedicated to excellence.</p>
		<p> Each hand-crafted cronut is made from only the finest donuts and croissants by our European-trained pastry chefs.</p>
		<p> Head pastry chef Nick Colavita demands only the finest ingrediants to assure a quality cronut experience every time!</p>
		<p> Started in 1878, the Hasty Cronut Shop quickly grew to accomodate a staff of 40. </p>
		<p><b>Today, you can order your cronuts online and we guarantee delivery to your door in thirty minutes or less.</b></p>
		<p>Satisfaction guaranteed every time!</p>
		<p>Or come and visit our store! We look forward to seeing you!</p>
		<p>Pastry is differentiated from bread by having a higher fat content, which contributes to a flaky or crumbly texture. A good pastry is light and airy and fatty, but firm enough to support the weight of the filling. When making a shortcrust pastry, care must be taken to blend the fat and flour thoroughly before adding any liquid. This ensures that the flour granules are adequately coated with fat and less likely to develop gluten. On the other hand, overmixing results in long gluten strands that toughen the pastry. </p>
	</div>
	
	<div id="donutCrossaint_Master">
		<div class="donut" align="center">
			<h1 class="donutname">THE DONUT meets... </h1>
			<img src="/imgs/MasterDonut2.png" height="450" class="donutimg">
		</div>


		<div class="croissant" align="center">
			<h1 class="croissantname">...THE CROISSANT makes... </h1>
			<img src="/imgs/MasterCroissant2.png" height="450" class="croissantimg" align="center">	
		</div>
	</div>

</body>