<!DOCTYPE html>
<html>
	<head>
		<title>Hasty Cronut</title>
		<meta charset "UTF-8">

		<link rel="stylesheet" type="text/css" href="css/gallery.css">
<!-- 		<link rel="stylesheet" type="text/css" href="css/homepage.css">
		<link rel="stylesheet" type="text/css" href="css/order.css">
		<link rel="stylesheet" type="text/css" href="css/review.css"> -->

		<script src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
		<script type="text/javascript" src="js/gallery.js"></script>
		<script type="text/javascript" src="js/homepage.js"></script>
	</head>

	<body>

		<header>
			<div id="headbar">

				<div id="navcontent">
					<div class ="nav">
						<ul>
							<li class="line">Home</li>
							<li class="line">About</li>
							<li class="line">Gallery</li>
							<li>Checkout</li>
						</ul>
					</div>

					<div id="logo">
						<img src="imgs/logo.png">
					</div>

					<div class ="nav">
						<ul>
							<li class="line"><img src="imgs/fb_logo"></li>
							<li class="line"><img src="imgs/twitter_logo"></li>
							<li><img src="imgs/instagram_logo"></li>
						</ul>
					</div>
				</div>
					
			</div>
		</header>

		<%= yield %>

	</body>
</html>