<h1>Fill Out Your Information Here</h1>

<form action="/email" method="POST">
	
	<p>
		<label for="fname">First Name</label><br>
		<input type="text" name="fname">
		<label for="lname">Last Name</label><br>
		<input type="text" name="lname">
	</p>
	
	<p> 
		<label for="email">Email</label><br>
		<input type="email" name="email">
	</p>
	
	<p>
		<label for="phone">Phone</label><br>
		<input type="number" name="phone">
	</p>
	
	<h3>Delivery Information</h3>
	<p>
		<label for="address">Address</label><br>
		<input type="text" name="address">
		<label for="city">City</label><br>
		<input type="text" name="city">
		<label for="state">State</label><br>
		<input type="text" name="state">
		<label for="zip">Zip Code</label><br>
		<input type="number" name="zip">
		<label for="floor/suite#">Floor / Suite #</label><br>
		<input type="text" name="floor/suite">
	</p>	
	