<h1 id="filloutinfo">Fill Out Your Information Here</h1>
	<hr>

	<div class="form-style-6">
	
		<form action="/email" method="POST">
				
			<h3>Delivery Information</h3>
		
				<input type="text" name="fname" placeholder="First Name" />
				<input type="text" name="lname" placeholder="Last Name" />
				<input type="email" name="email" placeholder="Email Address" />
		
				<input type="number" name="phone" placeholder="Phone" />
			
				<input type="text" name="address" placeholder="Address" />
				<input type="text" name="city" placeholder="City" />
				<input type="text" name="state" placeholder="State" />
				<input type="number" name="zip" placeholder="Zip Code" />
				<input type="text" name="floorsuite" placeholder="Floor/Suite">
	</div>
		
	<div class="form-style-6">
			
			<h3>Card Information</h3>
				<input type="text" name="cardname" placeholder="Name on Card" />
				<input type="number" name="cardnumber" placeholder="Card Number" />
				<input type="text" name="expirationdate" placeholder="Expiration Date" />
				<input type="number" name="cvc" placeholder="CVC" />
			
				<input type="submit" value="Place order!">
			
		</form> 
	</div>