<h1 id="filloutinfo">Fill Out Your Information Here</h1>
	<hr>
	
	<div class="prices">
	<button value="5.50">Original: $5.50</button>
	<button value="6">Strawberry Frosting: $6.00</button>
	<button value="4">Powdered: $4.00</button>
	<button value="5">Cream: $5.00</button>
	<button value="3.50">Cinnamon: $3.50</button>
	<button value="5.75">Strawberry & Cream Cheese: $5.75</button>
	<div class="total"></div>
	</div>
	
	<form action="/email" method="POST">
		<div class="form-style-6">
	
<!-- 		<form action="/email" method="POST"> -->
				
			<h3>Delivery Information</h3>
		
				<input type="text" name="fname" placeholder="First Name" />
				<input type="text" name="lname" placeholder="Last Name" />
				<input type="email" name="email" placeholder="Email Address" />
		
				<input type="number" name="phone" placeholder="Phone" />
			
				<input type="text" name="address" placeholder="Address" />
				<input type="text" name="city" placeholder="City" />
				<input type="text" name="state" placeholder="State" />
				<input type="number" name="zip" placeholder="Zip Code" />
				<input type="text" name="floorsuite" placeholder="Floor/Suite">
				</div>
		
		<div class="form-style-6">
			
			<h3>Card Information</h3>
				<input type="text" name="cardname" placeholder="Name on Card" />
				<input type="number" name="cardnumber" placeholder="Card Number" />
				<input type="text" name="expirationdate" placeholder="Expiration Date" />
				<input type="password" name="cvc" placeholder="CVC" />
			
				<input type="submit" value="Place order!">
		</div>	
	</form> 
	