
/********** NAV BAR LAYOUT **********/

#headbar{
    padding: 0;
    max-width: 100%;
    height: 120px;
}

#position{
    margin-right: 65px;
}

#navcontent{
    text-align: center;
    height: 100%;
}

#logo{
    display: inline-block;
    height: 100%;
}

.nav {
    display: inline-block;
    vertical-align: top;
    margin: 30px;
    padding-left: 60px;
    padding-right: 60px;
}

.nav ul{
    text-align: center;
    padding-left: 3px;
    padding-right: 3px;
}

.nav li {
    color: #CC9C70 ;
    font-family: Gill Sans, sans-serif;
    font-size: 1.15em;
    display: inline-block;
    list-style: none;
    margin-left: 0px;
    padding-right: 7px;
    padding-left: 7px;
}

.line{
    border-right: solid #8C6B4D  1px;
}

a{
    color: inherit;
    text-decoration: none;
}

a:hover{
    opacity: .1;
}
/********** NAV BAR LAYOUT **********/


/********** Gallery LAYOUT **********/

#galleryWelcome{
    font-family: Gill Sans, sans-serif;
    color: #595627;
    text-align: center;
    margin-left: 300px;
    margin-top: 85px;
    width: 650px;
}

#galleryWelcomeBody{
    color: #8C6B4D;
}

.welcome{
    border-bottom: solid #8C6B4D  1px;
    color: #8C6B4D;
    font-family: "Times New Roman";
    font-size: 1.8em;
    padding-bottom: 15px;
}

#galleryHolder{
    text-align: center;
    margin-left: 200px;
    margin-top: 65px;
    width: 850px;
}
/*** The Main Images of the Gallery ***/

#galleryImage1{
    background-image: url("../imgs/gallery_cronut1");
}

#galleryImage2{
    background-image: url("../imgs/gallery_cronut2.jpg");
}

#galleryImage3{
    background-image: url("../imgs/gallery_cronut3.jpg");
}

#galleryImage4{
    background-image: url("../imgs/gallery_cronut4.jpg");
}

#galleryImage5{
    background-image: url("../imgs/gallery_cronut5.jpg");
}

#galleryImage6{
    background-image: url("../imgs/gallery_cronut6.jpg");
}

.galleryImages{
    background-color: #CCC;
    margin: 30px;
    width: 200px;
    height: 200px;
    display: inline-block;
    border-radius: 15px;
}


/*The text inside each image*/

#text_fadein1,#text_fadein2,#text_fadein3,#text_fadein4,#text_fadein5,#text_fadein6{
    display: none;
}

.galleryImageTextField{
    margin: 0 auto;
    /*margin-top: 10px;*/
    width: 200px;
    height: 200px;
    background-color: black;
    opacity: .7;
    border-radius: 15px;
}

.galleryImageDescription{
    font-family: Gill Sans, sans-serif;
    font-size: 1.2em;
    padding: 4px;
    text-align: center;
    color: white;
    margin: 0;
    padding-top: 30px;
}

.galleryImagePrice{
    font-family: "Times New Roman";
    color: white;
}

.addToCart{
    color: white;
}

.shake{
    vertical-align: top;
    position: relative;
    display: inline-block;
}
