.cronut img {
	margin-right: 10px;
}

.cronut p {
	margin-right: 20px;
}

.cronut h1 {
	margin-left: 220px
}

body {
	max-width: 1000;
	margin: 0 auto;
	font-family: Arial, sans-serif;
	color: #8C6B4D;
}

.donut {
	display: inline;
}

.croissant {
	display: inline;
}

.cronut {
	display: inline;
}
