/********* Home Page *********/

#donutCrossaint_Master{
	/*text-align: center;*/
	overflow: hidden;
}

.donut {
	display: none;
	float: left;
}

.croissant {
	vertical-align: top;
	display: none;
	float: right;
	right: -100px;
}

.cronut {
	/*display: inline;*/
	display: none;
	float: left;
	z-index: 2;
}


.cronut img {
	/*margin-right: 10px;*/
}

.cronut p {
	/*margin-right: 20px;*/
}

.cronut h1 {
	/*margin-left: 220px*/
}

/********* Home Page *********/
