/********* Home Page *********/

#donutCrossaint_Master{
	/*text-align: center;*/
	overflow: hidden;
}

.donut {
	display: none;
	float: left;
}

.croissant {
	vertical-align: top;
	display: none;
	float: right;
	right: -100px;
}

.cronut {
	/*display: inline;*/
	text-align: center;
	display: none;
	float: left;
	z-index: 2;
	margin-left: 15px;
}

#companyBlock{
	/*border-top: solid #8C6B4D 1px;*/
}

.companyText{
	width: 450px;
	display: inline-block;
	text-align: left;
	text-indent: 20px; 
}

.deliveryText{
	border-top: solid #8C6B4D 1px;
	border-bottom: solid #8C6B4D 1px;
}

.homeTitles{
	font-family: Gill Sans, sans-serif;
}


.cronut img {
	/*margin-right: 10px;*/
}

.cronut p {
	/*margin-right: 20px;*/
}

.cronut h1 {
	/*margin-left: 220px*/
}

/********* Home Page *********/
